#smallscreens{
	display: block;
	
}
#bigscreens{
	display: none;
}
li{
	width: 110px;
}
a{
	text-align: center;
}
#ul-smallscreen1,#ul-smallscreen2,#ul-smallscreen3{
	display: none;
}
#wrapper-hollywood{
	background-color: linear-gradient(to right,#0c0303,#282020);
	position: absolute;
	top: 250px;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -10;
	justify-content: center;
	flex-wrap: wrap;
	
}
#wrapper-bollywood{
	background-color: linear-gradient(to right,#0c0303,#282020);
	position: absolute;
	top: 490px;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -10;
	justify-content: center;
	flex-wrap: wrap;
	
}
#wrapper-nollywood{
	background-color: linear-gradient(to right,#0c0303,#282020);
	position: absolute;
	top: 740px;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -10;
	justify-content: center;
	flex-wrap: wrap;
	
}
#child{
	width: 110px;
	height: 110px;
	background-color: #e0d9d9;
	margin: 10px;
	color: red;	
	cursor: pointer;
}
#holly-h1{
	color:#ffbb00;
	margin: 10px;
	position: absolute;
	top: 200px;
	z-index: -10;
	text-align: center;
}
#bolly-h1{
	color:#ffbb00;
	margin: 10px;
	position: absolute;
	top: 450px;
	z-index: -10;
}
#nolly-h1{
	color:#ffbb00;
	margin: 10px;
	position: absolute;
	top: 700px;
	z-index: -10;
}
#ll{
	float: right;
	color:blue;
	position: absolute;
	right: 10px;
}
#formsearch{
	float: right;
	position: absolute;
	top: 130px;
	right: 0;
	z-index: -2;
}
img{
	height: 110px;
	width: 110px;
}
figcaption{
	font-size: 15px;
	text-align: center;
	color: #ffbb00;
	background-color: linear-gradient(to right,#0c0303,#282020);
}
#movie-img{
	width: 130px;
}
#form-container{
	position: absolute;
	width: 60%;
	left: 20%;
	top: 20%;
	z-index: -1;
}
#input-gist{
	position: absolute;
	right: 100px;
	height: 50px;
	width: 400px;
	border-radius: 5px;
	padding: 10px;
}
#chat-box{
	position: absolute;
	width: 100%;
	height: 800px;
	overflow: auto;
	top: 400px;
}
#pagination{
	bottom:0vh;
	position:fixed;
	background-color: white;
	right: 10px;
	width: 30%;
}
#movie-con{
	position: absolute;
	z-index: -1;
	margin: 20px;
	height: 300px;
}
#desc{
	overflow: auto;
	height: 200px;
}
footer{
	top: 1000px;
}
